





body {
    background-color:#d3d3d3;   
    color:#555;
    font-family: 'Dosis', sans-serif;
    background-color:#505050;
}

header {
    position:fixed;
    background-color:#1d1d1d;
    left:0px;
    top:0px;
    height:100%;
    width:230px;
    z-index:4;
    text-align:center;
    box-shadow:1px 2px 10px rgba(0,0,0,0.36);
}
footer {
    position:fixed;
    background-color:#1d1d1d;
    right:0px;
    top:0px;
    height:100%;
    width:100px;
    z-index:4;
    text-align:center;
    box-shadow:1px 2px 10px rgba(0,0,0,0.36);
}
header > img {
    background-color:lightgray;
    border-radius:100%;
    overflow:hidden;
    margin-top:25px;
}
nav {
    
}
nav > ul {
    list-style: none;
    text-align:right;
    padding:20px;
    padding-left:45px;
}
nav > ul:nth-child(2) {
    text-align: left;
}
nav > ul > li {
    cursor:pointer;
    font-weight:600;
}
nav > ul:nth-child(2) > li {
    cursor:pointer;
    font-weight:300;
}
nav > ul > li:hover {
    font-weight:600;
    color:#d3d3d3;
}
h1 {
    text-align:center;
    padding-right:20px;
    padding-left:45px;
}
h1 > a {
    text-decoration: none;
    color:#d3d3d3;
}





.li_selected {
    color:#d3d3d3;
}



.social_bar {
    position:fixed;
    top:0px;
    right:0px;
    width:200px;
    height:50px;
    z-index:3; 
    background-color:rgba(255,255,255,0.73);
    box-shadow:1px 2px 7px rgba(0,0,0,0.14);
    backdrop-filter: blur(13px);
    border-radius:0px 0px 0px 9px;
    display:none;
}

.item > img {
    object-fit: cover;
}

/* Cards */
.item {
    width: 150px;
    height: 200px;
    background-color:white;
    margin:7px;
    border-radius:11px;
    text-align:center;
    overflow:hidden;
    cursor: pointer;
    box-shadow:1px 1px 3px rgba(0,0,0,0.36);
    transition:0.2s all;
}
.item:hover {
    transform:scale(1.1);
}
.item_cover {
    position:relative;
    top:-200px;
    left:0px;
    width:150px;
    display:flex;
    height:100%;
    text-align:center;
    backdrop-filter: blur(0px);
    opacity:0;
}
.item_cover:hover {
    backdrop-filter: blur(7px);
    opacity:1;
}
.card_title {
    width:170px;
    margin:40px 15px 40px 15px;
    border-radius:100%;
    padding:36px 5px 25px 5px;
    background-color:rgba(255,255,255,0.40);
    box-shadow:1px 1px 5px rgba(0,0,0,0.36) inset;
    letter-spacing: -1px;
    font-weight: 600;
}
.card_title_single_line {
    padding:48px 5px 25px 5px;
}



.outside_wrapper {
    position:absolute;
    top:0px;
    left:230px;
    right:105px;
    bottom:0px;
    width:auto;
    height:auto;
    overflow-y:scroll;
}
/* wrapper for cards */
.wrapper {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:auto;
    padding:15px;
    justify-content: left;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
    background-color:#505050;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#505050;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#1d1d1d;
    border-radius:5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:#1d1d1d;
}
/* Handle */
::-webkit-scrollbar-button {
    background-color:#505050;
    height:20px;
}


