form {
    width:100%;
    padding:15px;
    justify-content: center;
    display: inline-block;
    text-align:center;
}
label {
    color:white;
    font-size:20px;
    width:100%;
    text-align:left;
}
input {
    width:100%;
    background-color:var(--bg-color-DARK);
    border: white 1px solid;
    min-height:20px;
    font-size:20px;
    border-radius:12px !important;
    color:white;
}
textarea {
    background-color:var(--bg-color-DARK);
    border: white 1px solid;
    width:100%;
    border-radius:12px !important;
    color:white;
}
input[type=submit] {
    background-color:white;
    width:100px;
    padding:15px;
    color:#555;
}