:root {
  --bg-color-DARK: #1d1d1d;  
}





body {
    background-color:var(--bg-color-DARK);
    color:#555;
    font-family: 'Dosis', sans-serif;
}

header {
    position:absolute;
    left:0px;
    top:0px;
    height:100px;
    width:100%;
    z-index:4;
    text-align:center;
}
footer {
    position:fixed;
    background-color:#1d1d1d;
    right:0px;
    bottom:0px;
    height:50px;
    width:100%;
    z-index:4;
    text-align:center;
    display:none;
}
header > img {
    background-color:lightgray;
    overflow:hidden;
    margin-top:25px;
}
nav {
    position:absolute;
    top:22px;
    right:0px;
    width:118px;
    background-color:red;
    background-color:rgba(0,0,0,0);
    height:100px;
    overflow:hidden;
}
nav > ul {
    position:absolute;
    top:9px;
    right:0px;
    list-style: none;
    text-align:right;
    padding:20px;
    width:100px;
    padding-top:0px;
    margin-top:0px;
    font-size:20px;
    font-weight:bold;
}
nav > ul:nth-child(2) {
}
nav > ul:nth-child(1) {
    display:none;
}
nav > ul > li {
    cursor:pointer;
    font-weight:600;
}
nav > ul:nth-child(2) > li {
    cursor:pointer;
    font-weight:600;
}
nav > ul > li:hover {
    font-weight:600;
    color:#d3d3d3;
}
h1 {
    text-align:left;
    font-size:28px;
    margin-left:15px;
    z-index:500;
    margin-top:34px;
    color:white !important;
}
h1 > a {
    text-decoration: none;
    color:#ffffff;
}





.li_selected {
    color:#d3d3d3;
}



.social_bar {
    position:absolute;
    top:0px;
    right:0px;
    width:200px;
    height:50px;
    z-index:3; 
    background-color:rgba(255,255,255,0.73);
    box-shadow:1px 2px 7px rgba(0,0,0,0.14);
    backdrop-filter: blur(13px);
    border-radius:0px 0px 0px 9px;
    display:none;
}

.card_image {
    border-radius:3px;
    
}

.card_image_acsh {
    position:absolute;
    top:25px;
    left:50%;
    margin-left:-48px;
}


.item_inner_wrapper {
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/* Cards */
.item {
    width: 46.4%;
    background-color:white;
    margin-left:8px;
    margin-top:8px;
    border-radius:3px;
    text-align:center;
    overflow:hidden;
    cursor: pointer;
}
.item_cover {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    display:flex;
    height:100%;
    text-align:center;
    opacity:1;
    transition:0.2s all;
}
.item_cover:hover {
    opacity:0;
}
.card_title {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-52px;
    
    height:110px;
    width:110px;
    border-radius:100%;
    background-color:rgba(255,255,255,0.95);
    letter-spacing: -1px;
    font-weight: 600;
    color:#6a6a6a;
    transform:scale(.9);
}
.card_main_title {
    position:absolute;
    top:33px;
    left:0px;
    width:100%;
    color:#1d1d1d;
}
.card_main_sub_title {
    position:absolute;
    top:53px;
    left:0px;
    width:100%;
}



/* wrapper for cards */
.wrapper {
    position:absolute;
    top:130px;
    left:0px;
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:auto;
    justify-content: left;
}
.item_acsh {
    
    background-color: #a7f5be;
    background-image:url(../ACP/assets/img/pattern-dots.png); 
}

/* width */
::-webkit-scrollbar {
  width: 0px;
    background-color:#505050;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#505050;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#1d1d1d;
    border-radius:5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:#1d1d1d;
}
/* Handle */
::-webkit-scrollbar-button {
    background-color:#505050;
    height:20px;
}


a:link {
    text-decoration: none;
    color:#efefef !important;
}

a:visited {
    text-decoration: none;
    color:#efefef !important;
}

a:hover {
    text-decoration: none;
    color:#efefef !important;
}

a:active {
    text-decoration: none;
    color:#efefef !important;
}






article {
    width:100%;
    color:white;
}
article > p {
    padding:15px;
    font-size:20px;
}

figure {
    width:100%;
    justify-content: center;
    margin:0;
    text-align:center;
    padding-top:15px;
}
figure > img {
    position:relative;
    margin:8px;
    border-radius:12px;
    
}







li > a:link {
    text-decoration: none;
    color:#555 !important;
}

li > a:visited {
    text-decoration: none;
    color:#555 !important;
}

li > a:hover {
    text-decoration: none;
    color:#555 !important;
}

li > a:active {
    text-decoration: none;
    color:#efefef !important;
}
