.resident_banner {
    width:100%;
}
.resident_wrapper {
    max-width:1080px;
    min-width:525px;
    min-height:250px;
    
    position:relative;
    margin:auto;
    margin-top:150px;
    top:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
} 
.resident {
    width:510px;
    height:350px;
    
    position:relative;
    top:0px;
    margin:10px;
    background-color:#fefbe5;
    border-radius:27px;
    overflow:hidden;
    background-image: url('../assets/img/pattern-leaves-turquoise.jpg');
    box-shadow:1px 1px 5px rgba(0,0,0,0.36);
}
.resident_speech { 
    background-color:#fefbe5;
    color:#807256;
    width:400px;
    height:130px;
    
    position:absolute;
    bottom:5px;
    left:5px;
    padding:50px;
    padding-top:30px;
    padding-bottom:10px;
    font-size:22px;
    border-radius:80px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.26);
    opacity:0.80;
    backdrop-filter:blur(7px);
    line-height: 1.2;
}
.resident_name {
    background-color:BLACK;
    min-width:50px;
    max-width:100px;
    height:26px;
    
    position:absolute;
    bottom:155px;
    left:45px;
    border-radius:15px;
    color:rgba(255,255,255,0.58);
    font-family: 'Raleway', sans-serif;
    text-align:center;
    padding:11px;
    padding-top:5px;
    padding-bottom:0px;
	animation: float 3.3s ease-in-out infinite;
    box-shadow:1px 1px 5px rgba(0,0,0,0.26);
    
}
.resident_photo {
    
    position:absolute;
    left:200px;
    bottom:100px;
    object-fit:cover;
}


/* -- INDIVIDUAL RESIDENTS NAME & PHOTO STYLIZATION -- */
/* BANGLE */
.resident_name_bangle {
    background-color:#801400;
    color:#fefbe5;
}
.resident_photo_bangle {
    width:;
    top:;
}

/* RIZZO */
.resident_name_rizzo {
    background-color:blue;
    color:#000055;
}
.resident_photo_rizzo {
    width:105px;
    bottom:150px;
    left:220px;
}

/* PASHMINA */
.resident_name_pashmina {
    background-color:salmon;
    color:#fefbe5;
}
.resident_photo_pashmina {
    width:105px;
    bottom:120px;
    left:220px;
}

/* SHELDON */
.resident_name_sheldon {
    background-color:orange;
    color:#d67600;
}
.resident_photo_sheldon {
    width:105px;
    bottom:150px;
    left:220px;
}


/* -- Floating Animation -- */
@keyframes float {
	0% {
		transform:  rotate(-7deg) translatey(0px);
	}
	50% {
		transform:  rotate(-7deg) translatey(-4px);
	}
	100% {
		transform:  rotate(-7deg) translatey(0px);
	}
}