.sh_wrapper {
    width:100%;
    height:auto;
    
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    bottom:0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow:hidden;
    box-shadow:1px 1px 5px rgba(0,0,0,0.36);
    background-color: #e6dfc3;
    background-image:url(../assets/img/pattern-dots.png); 
} 

.bar_wrapper {
    position:fixed;
    bottom:-20px;
    left:0px;
    width:100%;
    height:100px;
    /* background-color:#f5f7e1; 
    box-shadow:0px -1px 15px rgba(0,0,0,0.16);*/
    z-index:2;
    overflow:hidden;
}

.bumps {
    position:absolute;
    top:-9px;
    width:100%;
    height:10px;
    overflow:hidden;
    background-image:url('../assets/img/bump-top-yellow.svg');
    background-position:center;
    z-index:2;
    display:none;
}
.bumps2 {
    position:absolute;
    top:74px;
    width:100%;
    height:10px;
    overflow:hidden;
    background-image:url('../assets/img/bump-top-yellow.svg');
    background-position:center;
    transform: rotate(180deg);
    z-index:2;
}

.bar {
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-160px;
    width:320px;
    height:58px;
    padding-left:1px;
    padding-right:20px;
    
    font-size:28px;
    background-color:rgba(0,0,0,0);
    color:#845c24;
    border:none;
    border-bottom:3px #845c24 dashed;
    
    z-index:2;
    transition: all 0.2s;
}
.bar_hidden {
    bottom:-100px;
}
.guess_button {
    position:absolute;
    height:50px;
    width:50px;
    top:22px;
    right:28px;
    background-color:#8a7a66;
    color:#f5f7e1;
    z-index:2;
    border-radius:100%;
    border:8px solid #f5f7e1;
    background-image:url('../assets/img/arrow.svg');
    background-repeat:no-repeat;
    background-size:65%;
    background-position:center;
    transform: rotate(180deg) scale(1);
    cursor:pointer;
    transition:all 0.1s;
    box-shadow:0px -1px 2px rgba(0,0,0,0.26);
}
.guess_button_hidden {
    transform: rotate(180deg) scale(0);
}

.help_button {
    position:absolute;
    height:50px;
    width:50px;
    top:22px;
    right:28px;
    background-color:#8a7a66;
    color:#f5f7e1;
    z-index:2;
    border-radius:100%;
    border:10px solid #f5f7e1;
    background-image:url('../assets/img/help.svg');
    background-repeat:no-repeat;
    background-size:65%;
    background-position:center;
    cursor:pointer;
    transition:all 0.1s;
    transform: scale(1);
    box-shadow:0px -1px 2px rgba(0,0,0,0.26);
}
.help_button_hidden {
    transform: scale(0);
}

.clues {
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    height:auto;
    top:0px;
    bottom:-20px;
    padding:15px;
    padding-bottom:100px;
    overflow:scroll;
}
.loading {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#e6dfc3;
    z-index:500;
}
.loaded {
    display:none !important;
}
.clue {
    top:30px;
    margin:0px;
    width:300px;
    height:169px;
    z-index:1;
    border:10px solid #f4f1e3;
    border-bottom:45px solid #f4f1e3;
    background-color:whitesmoke;
    box-shadow:1px 1px 5px rgba(0,0,0,0.36);
    border-radius:3px;
    margin:10px;
    transition:all 0.3s;
    cursor:pointer;
}
.hint {
    margin-top:-30px;
    margin-left:10px;
    font-size:20px;
    font-family: 'Permanent Marker', cursive;
    transform: rotate(-4deg);
}

.clue_active {
    transform:scale(1.1) rotate(-1deg); 
    cursor:default;
}
.clue_hide {
    opacity:0;
}

.stampt {
    transform:scale(1) !important;
    opacity:1 !important;
}

.stamp {
    background-color:#fefbe5;
    box-shadow:0px -1px 2px rgba(0,0,0,0.26);
    position:relative;
    left:215px;
    margin-top:-50px;
    width:80px;
    height:80px;
    border-radius:100%;
    opacity:0;
    transform:scale(1.4);
    transition:all 0.2s;
}

.stampt1 {
    transform:scale(1) rotate(-6deg) !important;
    opacity:1 !important;
}
.stampt2 {
    transform:scale(1) rotate(3deg) !important;
    opacity:1 !important;
}
.stampt3 {
    transform:scale(1) rotate(-3deg) !important;
    opacity:1 !important;
}
.stampt4 {
    transform:scale(1) rotate(-6deg) !important;
    opacity:1 !important;
}
.stampt5 {
    transform:scale(1) rotate(3deg) !important;
    opacity:1 !important;
}
.stampt6 {
    transform:scale(1) rotate(-3deg) !important;
    opacity:1 !important;
}


.clue_image {
    width:100%;
}
.hint {
    z-index:2;
}

.help {
    z-index:2;
}
textarea:focus, input:focus{
    outline: none;
}

.back_button {
    position:absolute;
    height:50px;
    width:50px;
    top:50%;
    margin-top:-200px;
    right:25px;
    background-color:#5a5aaa;
    color:white;
    z-index:2;
    border-radius:100%;
    border:4px solid rgba(255,255,255,0.36);
    background-image:url('../assets/img/x.svg');
    background-repeat:no-repeat;
    background-size:50%;
    background-position:center;
    text-align:center;
    transition:all 0.1s;
    cursor:pointer;
    transform:scale(1);
    box-shadow:0px -1px 2px rgba(0,0,0,0.26);
}
.back_button_hidden {
    transition:all 0.1s;
    transform:scale(0);
}
form {
    background-color:rgba(0,0,0,0);
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
    background-color:rgba(0,0,0,0);
    opacity:0;
}
/* Track */
::-webkit-scrollbar-track {
    background-color:rgba(255,255,255,0.66);
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#5a5aaa;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:#5a5aaa;
}


header {
    background-color:#f8eebc;
    background-image:none;
    box-shadow:0px 1px 15px rgba(0,0,0,0.16);
    display:none;
}