:root {
    --main-bg-color: #191718;
    --secondary-bg-color: #444;
    
    --primary-color: #868183;
    --secondary-color: rgb(39, 177, 195);
    --third-color: #f0ebed;
    
    --glass_blur:blur(75px);
    --dark_glass_color:rgba(0,0,0,0.25);
    --light_glass_color:rgba(255,255,255,0.5);
    
    --dropshadow-var:0px 0px 5px black;
}

html {
    
  scroll-behavior: smooth;
}
body {
    background-color: var(--main-bg-color);
    margin:0px;
    width:100%;
    color:var(--primary-color);
    font-family: 'News Cycle', sans-serif;
    font-size:48pt;
}

header {
    position: fixed;
    top:0px;
    height:200px;
    left:0px;
    right:0px;
    z-index:10;
}

.header_logo {
    position: absolute;
    top:0px;
    left:50%;
    margin-left:-220px;
    height:100%;
    width:440px;
}
.hamburger {
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
}
.hero {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color:black;
    height:1225px;
    
}
.hero_img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0.70;
    
}
.hero_title {
    position:absolute;
    top:420px;
    font-size:120pt;
    height:200px;
    width:100%;
    text-align: center;
    line-height: 200px;
    text-shadow: 2px 2px 45px black;
    color:var(--third-color);
}
.hero_subtitle {
    position:absolute;
    top:780px;
    font-size:40pt;
    height:200px;
    width:100%;
    text-align: center;
    line-height: 200px;
    text-shadow: 2px 2px 45px black;
    color:var(--third-color);
}

.content_wrapper {
    position:absolute;
    top:1200px;
    height:1200px;
    width:100%;
    background-color: var(--main-bg-color);
}
h1 {
    font-size:56pt;
    margin:0px;
    padding-top:30px;
    padding-bottom:0px;
    color:var(--third-color);
    letter-spacing: 17px;
    display:inline-block;
    width:100%;
    text-align:center;
}
p {
    margin:0px;
    padding:40px;
    padding-top:20px;
    padding-bottom:50px;
    font-size:36pt;
}
.content_next{
    width:100%;
    min-height:600px;
    display:inline-block;
}
.content_card {
    background-color:blue;
    width:41%;
    height:500px;
    float:left;
    margin-left:6%;
    margin-top:10px;
}
.nav {
    position:fixed;
    left:0%;
    top:-100%;
    width:100%;
    height:100%;
    padding-bottom:200px;
    z-index:8;
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
    overflow: hidden;
    background-color: var(--dark_glass_color);
    backdrop-filter: var(--glass_blur);
    -webkit-backdrop-filter: var(--glass_blur);
}

.nav_open {
    top:0%;
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
    background-color: var(--dark_glass_color);
    backdrop-filter: var(--glass_blur);
    -webkit-backdrop-filter: var(--glass_blur);
}

.social_bar {
    height:150px;
    width:400px;
    left:50%;
    margin-top:30px;
    background-color:var(--dark_glass_color);
    font-size:90px;
    padding-left:30px;
    color:var(--third-color);
    display:block;
    overflow:hidden;
    margin-left:50%;
    border-radius:75px;
}
.menu_item {
    height:190px;
    width:100%;
    font-size:90px;
    padding-left:0px;
    color:var(--third-color);
    display:block;
    text-align: center;
}
.menu_item:first-child {
    margin-top:200px;
}
.menu_item:last-child {
    background-color:rgba(0,0,0,0);
    padding-left:0px;
}
.page_marker {
    position:relative;
    width:10px;
    height:10px;
    top:0px;
    left:0px;
    margin-top:-400px;
    margin-bottom:400px;
}

/* unvisited link */
a:link {
    color:var(--third-color);
    text-decoration: none;
}

/* visited link */
a:visited {
    color:var(--third-color);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color:var(--third-color);
    text-decoration: none;
}

/* selected link */
a:active {
    color:var(--third-color);
    text-decoration: none;
}

.nav_inner {
    position:absolute;
    width:100%;
    margin-top:50px;
    top:100%;
    opacity:0;
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
}
.nav_inner_open {
    top:0%;
    opacity:1;
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
}

table {
    position: absolute;
    margin-top:30px;
    margin-left:5%;
    width:90%;
    border-radius:120px;
    text-align:center;
    overflow:hidden;
    backdrop-filter: var(--glass_blur);
    -webkit-backdrop-filter: var(--glass_blur);

}
.behind_table {
    position:absolute;
    margin-top:30px;
    margin-left:5%;
    width:90%;
    height:1171px;
    background-color:var(--secondary-color);
    border-radius:120px;
    text-align:center;
    box-shadow: 0px 0px 45px var(--secondary-color));
    overflow:hidden;
    background: radial-gradient(ellipse at top, #27b1c3, transparent),
            radial-gradient(ellipse at left, #8d4286, transparent),
            radial-gradient(ellipse at bottom right, #a9292f, transparent);

}
.behind_table_drop {
    position:absolute;
    margin-top:30px;
    margin-left:5%;
    width:90%;
    height:1171px;
    background-color:var(--secondary-color);
    border-radius:120px;
    text-align:center;
    box-shadow: 0px 0px 45px var(--secondary-color));
    overflow:hidden;
    background: radial-gradient(ellipse at top, #27b1c3, transparent),
            radial-gradient(ellipse at left, #8d4286, transparent),
            radial-gradient(ellipse at bottom right, #a9292f, transparent);
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  -o-filter: blur(35px);
  -ms-filter: blur(35px);
  filter: blur(35px);
    opacity:0.46;

}





td {
    padding:30px;
    color: var(--third-color);
    border-bottom:1px solid var(--light_glass_color);
}
.td_nobottom {
    border:none;
}
td:nth-child(even) {
    width:55%;
    text-align:left;
    font-size:36pt;
}
td:nth-child(odd) {
    text-align:right;
}
.table_closed {
    color:rgba(0,0,0,0.63);
}







.divider {
    position:absolute;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    background: radial-gradient(ellipse at top, #27b1c3, transparent),
            radial-gradient(ellipse at left, #8d4286, transparent),
            radial-gradient(ellipse at bottom right, #a9292f, transparent);
    
}
.divider:nth-child(odd) {
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  -o-filter: blur(35px);
  -ms-filter: blur(35px);
    
}

.blocker {
    height:1291px;
    width:100%;
    display:flex;
    margin-bottom:50px;
}
.blocker span {
    align-self: flex-end;
    font-size:36pt;
    width:100%;
    text-align:center;
}

.blocker_2 {
    height:900px;
}









.linko_wrapper {
    position:absolute;
    width:100%;
    height:700px;
}

.linko {
    position:absolute;
    width:90%;
    height:200px;
    margin-left:5%;
    border-radius:120px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top:75px;
    background-color:var(--dark_glass_color);
}

.linko_icon {
    position:absolute;
    top:-1px;
    background-color:white;
    width:200px;
    height:200px;
    border-radius:100%;
    overflow:hidden;
}
.linko_name {
    position:absolute;
    top:10px;
    left:240px;
}
.linko_info {
    bottom:25px;
    left:240px;
    position:absolute;
    font-size:36pt;
}
.linko_icon_phone {
    box-shadow: 0px 0px 35px rgba(10, 211, 24, 0.51);
    
}
.linko_phone {
    background: radial-gradient(ellipse at top, rgba(10, 211, 24, 0.51), transparent);
}
.linko_icon_email {
    box-shadow: 0px 0px 35px rgba(27, 151, 246, 0.51);
    
}
.linko_email {
    background: radial-gradient(ellipse at top, rgba(27, 151, 246, 0.51), transparent);
}
.linko_maps {
    
    background: radial-gradient(ellipse at top, rgba(157, 223, 123, 0.36), transparent),
            radial-gradient(ellipse at left, rgba(255, 214, 52, 0.36), transparent),
            radial-gradient(ellipse at bottom right, rgba(51, 148, 227, 0.36), transparent);
}
.linko_arrow {
    bottom:58px;
    right:68px;
    position:absolute;
  border: solid rgba(255,255,255,0.36);
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.linko_second {
    top:250px;
}
.linko_third {
    top:500px;
}